*{
	margin: 0px;
	padding: 0px;
}

@media all and (max-width:300px) {
	#left {
		width: 100%;
		float: none;
	}

	#right {
		float: none;
		width:auto;
	}
}

@media all and (max-width:300px) {

}


h3 {
	height: 50px;
	border-radius: 35px;
	background: #343a40;
	font: bold 20px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	text-align: center!important;
	padding: 7px 0;
	border: 2px solid #bd2130;
}
#left{
	width: 15%;
	height: 550px;
	float: left;
	background-color: #495057;
	text-align: center;
	border: 2px solid #bd2130;
}
#left ul li{
	list-style-type: none;
	display: inline;
	color: #fff;
}

#left .box ul{

	float: left !important;

	padding: 5px;

	margin: -2px;
}



#left .box ul li a{

	border-radius: 35px;

	text-decoration: none;

	display: block;

	margin: 5px;

	padding: 7px;

	background-color: #f8f9fa;

	border:2px solid;

	border-color: #bd2130;

	color: #bd2130 !important;

	font: bold 14px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#left .box ul li a:hover{
	background-color:#007bff;
	border-color:#007bff;
}
.nav{
	background-color: #343a40;
	border:4px solid;
	border-color: #d0181c;
}
.nav ul li{

	font: bold 20px Gotham, "Arial", Helvetica, Arial, sans-serif;
}
.nav ul li a{

}
.nav ul li a:hover{
	text-decoration: none;
	color: red;
	border-radius: 35px;
}
.right{
	width: 100%;
	height: 500px;
}

}
h4{
	font: bold 20px Gotham, "Arial", Helvetica, Arial, sans-serif;
	color:  #6288c9;


}
h2{
	height: 70px;
	background-color: #da4242;
	border-radius: 35px;
	color: #f8f9fa;
	font: bold 40px Gotham, "Arial", Helvetica, Arial, sans-serif;
	text-align: center;
	padding: 13px;
	border:4px solid;
	border-color: #f8f9fa;
}
p{
	color: red;
	font: bold 25px Gotham, "Arial", Helvetica, Arial, sans-serif;
}
.content{

	padding: 13px;

	border:4px solid;

	border-color: #070707;

	background-color:#fff;
}

.form-control{
	width: 300px;
	height: 50px;

}
.footer{
	width: 100%;
	border-radius: 20px;
	height:270px;
	background-color: #545b62;
}
.pagination{
	width: 35%;
	border-radius: 35px;
	border:4px solid;
	border-color: #dc3545;
	background: #343a40;
	float: right;
}
.footer li a i{
	color: gold;
	font-size: 30px;
	margin-right: 500px;
	margin-top: -180px;	

}
.footer li a i:hover{

	color: red;
}


.topnav {
	overflow: hidden;
	background-color: #e9e9e9;
}

.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #2196F3;
	color: white;
}

.topnav .search-container {
	float: right;
}

.topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}

.topnav .search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.topnav .search-container button:hover {
	background: #ccc;
}